  <div class="container" id="header-box">
    <h1>Challenge #{{challenge.id}}: {{challenge.name}}</h1>
    <p>{{challenge.instructionsAll}}</p>
  </div>
  <div class="container">
    <div class="container columns" id="your-code">
        <h2>Your Task</h2>
        <p>{{challenge.instructionsA}}</p>
        <textarea cols="50" class="code-input"  wrap="soft" id="userACode">{{challenge.startCodeA}}</textarea>
        <br clear="all">
        <button class="submitBtn">Test My Code</button>
    </div>
    <div class="container columns" id="partner-code">
        <h2>{{userB.displayName}}'s Task</h2>
        <p>{{challenge.instructionsB}}</p>
        <div class="code-input">
          <!-- starter code will come from firebase -->
        </div>
    </div>
  </div>
  <div class="container">
    <h2>Chat</h2>
    <input type="text" name="chatbox" size="50" id="chatbox"><button id="submit-chat">Send</button>
    <p id="chat-history">

    </p>
  </div>
  <script type="text/javascript">
    //get data from server
    var sessionData = {
        sessionId : {{session.id}},
        challengeId : {{session.challengeId}}
    };
  </script>
  <script src="/js/firebase-config.js" type="text/javascript"></script>
  <script src="/js/challenge.js" type="text/javascript"></script>
  <script src="/js/chat.js" type="text/javascript"></script>
  <div class="dataHolder" data-displayname="{{user.displayName}}" data-userid="{{user.id}}"></div>
