<div class="container" id="header-box">
    <h1>Admin Dashboard</h1>
</div>
<div class="container" id="main-box">
    <div class="container columns main-column">
        <h3>Challenge List</h3>
        {{!--// display the challenges--}}
        {{#if challenges}}
            {{#each challenges}}
                <p>
                    <button 
                        class="challenge-link" 
                        data-id="{{this.id}}" 
                        data-name="{{this.name}}" 
                        data-difficulty="{{this.difficulty}}"
                        data-instructionsAll="{{this.instructionsAll}}"
                        data-instructionsA="{{this.instructionsA}}"
                        data-instructionsB="{{this.instructionsB}}"
                        data-startCodeA="{{this.startCodeA}}"
                        data-startCodeB="{{this.startCodeB}}"
                        data-testA="{{this.testA}}"
                        data-testb="{{this.testB}}"
                    >{{this.id}}. {{this.name}}</button>
                </p>
            {{/each}}
        {{else}}
            <h2>there are no challenges available</h2>
        {{/if}}
        <br><br>
    </div>

    <div class="container columns side-column">
        <h3>Edit Challenge</h3>
        <form method="POST" action="/challenge/update?_method=PUT" id="edit-challenge-field">
        <!-- this gets populated by the frontend function editChallengeData -->
        </form>
    </div>
</div>
<div class="dataHolder" data-displayname="{{user.displayName}}" data-userid="{{user.id}}" data-showingUser="{{showUser.displayName}}" ></div>
<script src="/js/dashboard.js" type="text/javascript"></script> 