<div class="container" id="header-box">
    <h1>Admin Dashboard</h1>
</div>
<div class="container" id="main-box">
    <div class="container columns main-column">
        <h3>Challenge List</h3>
        {{!--// display the challenges--}}
         <h4>Add a New Challenge:</h4>
            <button 
                id="new-challenge-btn" 
                data-name="" 
                data-difficulty="1"
                data-instructionsAll=""
                data-instructionsA=""
                data-instructionsB=""
                data-startCodeA=""
                data-startCodeB=""
                data-testA=""
                data-testb=""
            >Create New Challenge</button>
        <h4>Edit Existing Challenges:</h4>
        {{#if challenges}}
            {{#each challenges}}
                <p>
                    <button 
                        class="challenge-link" 
                        data-id="{{this.id}}" 
                        data-name="{{this.name}}" 
                        data-difficulty="{{this.difficulty}}"
                        data-instructionsAll="{{this.instructionsAll}}"
                        data-instructionsA="{{this.instructionsA}}"
                        data-instructionsB="{{this.instructionsB}}"
                        data-startCodeA="{{this.startCodeA}}"
                        data-startCodeB="{{this.startCodeB}}"
                        data-testA="{{this.testA}}"
                        data-testb="{{this.testB}}"
                    >{{this.id}}. {{this.name}}</button>
                </p>
            {{/each}}
        {{else}}
            <h2>there are no challenges available</h2>
        {{/if}}
        <br><br>
    </div>

    <div class="container columns side-column">
        <div id="challenge-edit-area">
            <!-- this gets populated by the frontend using on-click functions in dashboard.js -->
        </div>
    </div>
</div>
<div class="dataHolder" data-displayname="{{user.displayName}}" data-userid="{{user.id}}" data-showingUser="{{showUser.displayName}}" ></div>
<script src="/js/dashboard.js" type="text/javascript"></script> 