<div class="login-page">
<div class="container" id="login-box">
	<div id="logo">Let's Hack!<div id="icon"></div></div>
	<div class="columns main-column">

		{{#if user}}
			<h2>Welcome back, {{user.displayName}}</h2>
			<p>You're currently logged in. To start hacking, head over
				to the <a href="/lobby?userId={{user.id}}">Lobby</a>.</p>
				<p>Done hacking for now? <a class="largeButton" href="/logout">Logout</a>.
		{{else}}
			<h2>Sign Up</h2>
			<p>
				<form method="POST" action="/user/create">
					Choose a Username:<br>
					<input type="text" name="username"><br>
					Your Email:<br>
					<input type="text" name="email"><br>
					First Name:<br>
					<input type="text" name="firstName"><br>
					Last Name:<br>
					<input type="text" name="lastName"><br>
					Choose a Password:<br>
					<input type="password" name="password"><br>
					Confirm Password:
					<input type="password" name="passwordConfirm"><br>
					<input type="submit" class="largeButton noFloat" value="Submit"/>
				</form>
			</p>
		</div>
		<div class="columns side-column">
			<h2>Log In</h2>
			<p>
				<form method="POST" action="/login">
					Username:<br>
					<input type="text" name="username"><br>
					Password:<br>
					<input type="password" name="password"><br>
					<input type="submit" class="largeButton noFloat" value="Submit"/>
				</form>
			</p>

		{{/if}}
		{{#if message}}
			<h4>{{message}}</h4>
		{{/if}}
	</div>
</div>
</div>
<div class="dataHolder" data-displayname="{{user.displayName}}" data-userid="{{user.id}}">
