<div class="container" id="header-box">
    <h1>User Profile</h1>
  </div>
  <div class="container" id="main-box">
    <div class="container columns main-column">
        {{#if user}}
            <h2>{{user.displayName}}</h2>
            <p>
                <div class="profileSection" id="emailAddress">
                    email address: 
                    {{user.email}} <button class="smallButton">Edit</button>
                </div>
                <div class="profileSection" id="firstName">
                    First Name: 
                    {{user.firstName}} <button class="smallButton">Edit</button>
                </div>
                <div class="profileSection" id="lastName">
                    Last Name: 
                    {{user.lastName}} <button class="smallButton">Edit</button>
                </div>
            </p>
        {{else}}
            <h2>Please Login</h2>
            <p>
                Back to the <a href="/login">login page</a> to sign in or sign up.
            </p>
        {{/if}}
        <br><br>
    </div>

    <div class="container columns side-column">
        <h3>Your Challenge History</h3>
        {{#if user}}
            <ul class="challenge-history">
            <!-- this gets populated by the frontend function showChallengeHistory --> 
            </ul>
        {{else}}
            <p>You must <a href="/login">login</a> to see your profile information.</p>
        {{/if}}
    </div>
  </div>
  <div class="dataHolder" data-displayname="{{user.displayName}}" data-userid="{{user.id}}">
      <script>
          $(document).ready(function() {
              showChallengeHistory();
          });
      </script>



