<div class="container" id="header-box">
    <h1>User Profile</h1>
  </div>
  <div class="container" id="main-box">
    <div class="container columns main-column">
        {{#if showUser}}
            <h2>{{showUser.displayName}}</h2>
            <table cellpadding="0" cellspacing="0" border="0"><tr><td>
                <div class="profImage">
                  {{#if showUser.profilePicture}}
                      <img src={{showUser.profilePicture}} class="prof-img-circle" />
                  {{else}}
                      <img src="/img/no-avatar.png" height="100px" width="100px">
                {{/if}}
                </div>
            </td><td class="container">
                {{#unless showUser.public}}
                <h5>Change Profile Picture</h5>
                <form method="POST" action="/profile/upload" enctype="multipart/form-data">
                    <input name="avatar" type="file" class="smallButton"/>
                    <input class="smallButton" value="Upload" type="submit">
                </form>
                {{/unless}}
            </td></tr></table>
            <form method="POST" action="/user/update?_method=PUT">
                {{#unless showUser.public}}
                <div class="profileSection" id="emailAddress">
                     <button class="smallButton">Edit</button>
                     Email Address:
                    {{showUser.email}}
                    <input class="profileEdit" name="email" type="text" size="20" placeholder="Email Address" />
                    <input type="hidden" name="displayName" value={{{showUser.displayName}}}>
                </div>
                {{/unless}}
                <div class="profileSection" id="firstName">
                {{#unless showUser.public}}
                     <button class="smallButton">Edit</button>
                {{/unless}}
                     First Name:
                    {{showUser.firstName}}
                    <input class="profileEdit" name="firstName" type="text" size="20" placeholder="First Name" />
                </div>
                <div class="profileSection" id="lastName">
                {{#unless showUser.public}}
                    <button class="smallButton">Edit</button>
                {{/unless}}
                    Last Name:
                    {{showUser.lastName}}
                    <input class="profileEdit" name="lastName" type="text" size="20" placeholder="Last Name" />
                </div>
                {{#if showUser.public}}
                <div class="profileSection" id="present">
                    Currently online:
                    {{showUser.present}}
                </div>
                <div class="profileSection" id="present">
                    Currently in the queue:
                    {{showUser.inQueue}}
                </div>
                <hr>
                <div id="reportingForm">
                    <h3>Report This User</h3>
                    <div class="smallInfo">
                        Has this user been engaged in abusive or prohibited behavior while using Let's Hack? Please send us a brief description of why you're reporting this user.
                    </div>
                    <input type="text" id="reportReason"/>
                    <input class="smallButton reportSubmit" value="Send Report" type="submit" />
                </div>
                {{/if}}
                {{#unless showUser.public}}
                <input class="smallButton hiddenSubmit" value="Save Changes" type="submit" />
                {{/unless}}
            </form>
        {{else}}
            <h2>Please Login</h2>
            <p>
                Back to the <a href="/login">login page</a> to sign in or sign up.
            </p>
        {{/if}}
        <br><br>
    </div>

    <div class="container columns side-column">
        <h3>{{showUser.displayName}}'s Challenge History</h3>
        {{#if showUser}}
            <ul class="challenge-history">
            <!-- this gets populated by the frontend function showChallengeHistory -->
            </ul>
        {{else}}
            <p>You must <a href="/login">login</a> to see your profile information.</p>
        {{/if}}
    </div>
  </div>
  <div class="dataHolder" data-displayname="{{user.displayName}}" data-userid="{{user.id}}" data-showingUser="{{showUser.displayName}}"></div>
  <script src="/js/profile.js" type="text/javascript"></script>
